.center {
  margin-left: auto;
  margin-right: auto;
}

/* Progress - Bar */
#progress-bar {
  --scrollAmount: 0%;

  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width:var(--scrollAmount);
  height: 5px;
  position: fixed;
  top: 0;
}


img[src*='#right'] {
    float: right;
}


    #content {
        position: relative;
    }
    #content img {
        position: absolute;
        top: 0px;
        right: 0px;
    }



